

<h2>Season: <%= @season.count %></h2>
<%= image_tag(@season.image) %>

  <p>
    <%= @season.plot %>
  </p>

<div class="controls">
  <%= link_to("Edit Season", "/seasons/#{@season.id}/edit") %>
  <%= link_to("Delete Season", "/seasons/#{@season.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>

<h3>Episodes</h3>
<ul>
  <% @season.episodes.each do |episode| %>
    <li>
      <%= link_to(episode.count, "/episodes/#{episode.id}", episode.title) %>
    </li>
  <% end %>
</ul>
