

<h2>Season: <%= @season.count %></h2>
<%= image_tag(@season.image) %>

  <p class="flow-text">
    <%= @season.plot %>
  </p>

<h3>Episodes</h3>
<ul>
  <div class="row">
    <% @season.episodes.each do |episode| %>
      <li>
        <div class="col s4">
          <div class="image"><%= image_tag(episode.image) %></div>
          <%= link_to(episode.count, "/episodes/#{episode.id}") %>
        </div>
      </li>
    <% end %>
  </div>
</ul>
