<div class="container">
  <div class="divider"></div>
    <h1 class="center">Your Tv-Shows</h1>
  <div class="divider"></div>

  <div class="controls">
    <%= link_to("Add Tv-Show", "/tvshows") %>
  </div>

  <ul>
    <div class="row">
      <% @current_user.tvshows.each do |tvshow| %>
        <li>
          <div class="col s4">
            <%= link_to("/tvshows/#{tvshow.id}") do %>
            <%= image_tag(tvshow.image, { :class => "splashPage"}) %>
              <br>
            <h5><%= tvshow.title %></h5>
            <% end %>
            <div><%= link_to("Delete Tv Show", "/tvshows/#{tvshow.id}/remove") %></div>
          </div>
        </li>
      <% end %>
    </div>
  </ul>

</div>
