<%= form_for @tvshow do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </p>

  <p>
    <%= f.label :year %>
    <%= f.text_field :year, required: true %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <p>
    <%= f.label :plot %>
    <%= f.text_field :plot %>
  </p>

  <%= f.submit %>
  
<% end %>
