<p>
  <%= image_tag( @tvshow.image ) %>
</p>

<h1><%= @tvshow.title %></h1>

<h4>- <%= @tvshow.year %> -</h4>

  <p>
    <%= @tvshow.plot %>
  </p>

<div class="controls">
  <%= link_to("Edit Tv Show", "/tvshows/#{@tvshow.id}/edit") %>
  <%= link_to("Delete Tv Show", "/tvshows/#{@tvshow.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>
