<p>
  <%= image_tag( @tvshow.image ) %>
</p>

<h1><%= @tvshow.title %></h1>
<h4>- <%= @tvshow.year %> -</h4>

  <div class="controls">
    <%= link_to("Edit Tv-Show", "/tvshows/#{@tvshow.id}/edit") %>
    <%= link_to("Delete Tv-Show", "/tvshows/#{@tvshow.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
  </div>

  <p>
    <%= @tvshow.plot %>
  </p>

<h3>Seasons</h3>
<ul class="container">
  <% @tvshow.seasons.each do |season| %>
  <div class="row">
    <li class="col s3">
      <%= link_to(season.count, "/seasons/#{season.id}") %>
    </li>
  <% end %>
</ul>
