<p>
  <%= image_tag( @tvshow.image ) %>
</p>

<h1><%= @tvshow.title %></h1>
<h4>- <%= @tvshow.year %> -</h4>


  <div class="controls">
    <%= link_to("Add #{@tvshow.title} to My Faves", "/tvshows/#{@tvshow.id}/add") %>
      <br>


  </div>

  <p>
    <%= @tvshow.plot %>
  </p>

<h3>Seasons</h3>
<ul class="container">
  <% @tvshow.seasons.each do |season| %>
  <div class="row">
    <li class="col s3">
      <%= link_to(season.count, "/seasons/#{season.id}") %>
    </li>
  <% end %>
</ul>
